results/
tmp/
COBRA_models_and_graphs/  
**/*.png
**/*.svg
**/*.pdf   
**/*.gzip 
**/*.zip 
**/*.pkl 
**/*.csv
**/*.txt
**/*.tsv
**/*.rar
**/*.gpickle
**/*.xls
**/*.xlsx
**/*.tar
**/*.gz
**/*.json
**/*.h5
**/*.hdf5
**/*.pt
**/*.pth
